{% extends 'base1.html.twig' %}
{% block container %}

    <div class="right_col" role="main">
        <div class="">

        {#<a class="btn btn-app">#}
            {#<span class="badge bg-red">6</span>#}
            {#<i class="fa fa-bullhorn"></i> Notifications <br><br>#}
        {#{{ render(controller('MaisonretraiteBundle:Notification:display')) }}#}
        <br>
        <br>

        {#</a>#}
        <br>
        <h2>Ajouter votre maison</h2>
<br>
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}})
    }}
        <br>
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Ajouter" class="btn btn-success" />
        <a class="btn btn-dark" href="{{ path('affiche_ma') }}">Annuler</a>

        {{ form_end(form) }}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>
</div>
     {#Call NotificationsBundles's assets#}
    {#{{ notifications_assets() }}#}
    {#<script>#}
        {#/**#}
         {#* After calling notifications_assets() "pusher" is now available#}
         {#* and you can use it this way#}
         {#*/#}

            {#// select the channel you want to listen to#}
        {#var channel = pusher.subscribe("notifications");// notifications channel#}
        {#channel.bind(`my-event`, function(data) {#}
            {#console.log('from notifications channel', data);#}
        {#});#}

        {#var channel = pusher.subscribe("messages");// messages channel#}
        {#channel.bind(`my-event`, function(data) {#}
            {#console.log('from messages channel', data);#}
        {#});#}
        {#// function onNotificationsPushed(data){#}
        {#//     console.log('data',data)#}
        {#// }#}
    {#</script>#}
{% endblock %}
