{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Idanimateur</th>
                <th>Nomanimateur</th>
                <th>Prenomanimateur</th>
                <th>Mailanimateur</th>
                <th>Telanimateur</th>
                <th>Adresseanimateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animateur in animateurs %}
            <tr>
                <td><a href="{{ path('animateur_show', { 'idAnimateur': animateur.idAnimateur }) }}">{{ animateur.idAnimateur }}</a></td>
                <td>{{ animateur.nomAnimateur }}</td>
                <td>{{ animateur.prenomAnimateur }}</td>
                <td>{{ animateur.mailAnimateur }}</td>
                <td>{{ animateur.telAnimateur }}</td>
                <td>{{ animateur.adresseAnimateur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animateur_show', { 'idAnimateur': animateur.idAnimateur }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('animateur_edit', { 'idAnimateur': animateur.idAnimateur }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animateur_new') }}">Create a new animateur</a>
        </li>
    </ul>
{% endblock %}
