{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Idanimateur</th>
                <td>{{ animateur.idAnimateur }}</td>
            </tr>
            <tr>
                <th>Nomanimateur</th>
                <td>{{ animateur.nomAnimateur }}</td>
            </tr>
            <tr>
                <th>Prenomanimateur</th>
                <td>{{ animateur.prenomAnimateur }}</td>
            </tr>
            <tr>
                <th>Mailanimateur</th>
                <td>{{ animateur.mailAnimateur }}</td>
            </tr>
            <tr>
                <th>Telanimateur</th>
                <td>{{ animateur.telAnimateur }}</td>
            </tr>
            <tr>
                <th>Adresseanimateur</th>
                <td>{{ animateur.adresseAnimateur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('animateur_edit', { 'idAnimateur': animateur.idAnimateur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
