{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block container %}

    <h1 class="title">Ajouter une action de bénévolat</h1>

    {{ form_start(form,{'method':'POST'}) }}
    Date début
    <br>
    {{ form_widget(form.dateDAction) }}
    Date fin
    <br>
    {{ form_widget(form.dateFAction) }}
    description
    {{ form_widget(form.description) }}
    <div style="display: none;">

        {{ form_widget(form.etat) }}
    </div>
    <br>
    <div>
    Type
    {{ form_widget(form.type) }}
    </div>
    <br>
        <input class="btn btn-success" type="submit" value="Ajouter" />
    <br>
    {{ socialButtons() }}
    {{ form_end(form) }}
    <br>



{% endblock %}
{#{% block footer %} {% endblock %}#}
