{% extends 'base.html.twig' %}

    {% block container %}
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
                <br>
                <br>

                <!--travaille de frond office-->
                <h2 style="color: #990000">La liste des demandes</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nom maison</th>
                        <th scope="col">Nom categorie</th>
                        <th scope="col">Quantite Demande</th>
                        <th scope="col">Description Demande</th>
                        <th scope="col">Participation</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        {% for i in m %}
                        <td>{{ i.idMaison.nomMaison }}</td>
                        <td>{{ i.idDemandeCategorie.nomCategorie}}</td>
                        <td>{{ i.quantiteDemande }}</td>
                        <td>{{ i.descriptionDemande }}</td>
                        <td>


                                <a class="badge badge-success" href={{ path('affecterdon',{'iddemande':i.idDemande,'decriptiondemande':i.descriptiondemande,'idcategorie':i.idDemandeCategorie.idCategorie}) }} >participer

                                </a>



                            </form>

                        </td>

                    </tr>


                    </tbody>
                    {% endfor %}

                </table>
                <div class="navigation text-center">
                </div>



                </header>
            </div>

        </section>
    {% endblock %}

