{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block container %}
    <h1>Evenement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id evenement</th>
                <td>{{ evenement.idEvenement }}</td>
            </tr>
            <tr>
                <th>Date debut evenement</th>
                <td>{% if evenement.dateDEvenement %}{{ evenement.dateDEvenement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date fin evenement</th>
                <td>{% if evenement.dateFEvenement %}{{ evenement.dateFEvenement|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure evenement</th>
                <td>{{ evenement.heureEvenement }}</td>
            </tr>
            <tr>
                <th>Nom evenement</th>
                <td>{{ evenement.nomEvenement }}</td>
            </tr>
            <tr>
                <th>Adresse evenement</th>
                <td>{{ evenement.adresseEvenement }}</td>
            </tr>
            <tr>
                <th>Description evenement</th>
                <td>{{ evenement.descriptionEvenement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evenement_edit', { 'idEvenement': evenement.idEvenement }) }}">Edit</a>
        </li>
        <li>

                <input type="submit" value="Delete">

        </li>
    </ul>
{% endblock %}
