{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block container %}
    <h1>Sponsor evenement</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsponsor</th>
                <td>{{ sponsorEvenement.idSponsor }}</td>
            </tr>
            <tr>
                <th>Nomsponsor</th>
                <td>{{ sponsorEvenement.nomSponsor }}</td>
            </tr>
            <tr>
                <th>Prenomsponsor</th>
                <td>{{ sponsorEvenement.prenomSponsor }}</td>
            </tr>
            <tr>
                <th>Adressesponsor</th>
                <td>{{ sponsorEvenement.adresseSponsor }}</td>
            </tr>
            <tr>
                <th>Telsponsor</th>
                <td>{{ sponsorEvenement.telSponsor }}</td>
            </tr>
            <tr>
                <th>Descriptionsponsoring</th>
                <td>{{ sponsorEvenement.descriptionSponsoring }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sponsorevenement_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('sponsorevenement_edit', { 'idSponsor': sponsorEvenement.idSponsor }) }}">modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
